 .albumlist {
     display: flex;
    vertical-align: baseline;
    margin:20px;
    padding:40px;
    
 }


 .albumtracks {
    display:flex;
    vertical-align: baseline;
    margin:20px;
    padding:40px;
    /* background-color: rgba(1, 5, 14, 0.493); */
 }

 .bas {
    display: flex;
    padding-top:60px;
 }

 .name {
     margin-left:10px;
 }

 .aname {
     margin-left:10px;
 }

 .button-remove {
     padding-top:10px;
 }

 .remove-list {
    transition-duration: 0.4s;
    border-radius: 4px;
    color:rgb(204, 42, 80);
 }

 .remove-list:hover {
    background-color:rgb(204, 42, 80);
    color:white;
 }

.more-tracks {
    transition-duration: 0.4s;
    border-radius: 4px;
    color:rgb(204, 42, 80);
   
}
.more-tracks:hover {
    background-color:rgb(204, 42, 80);
    color:white;
}
